#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-container {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
}

form {
  margin: 20px 0;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 5px;
}
